.pagination {
    color: #9e9e9e;
    line-height: 1;
}
.pagination .page-item,
.pagination .page-list,
.pagination .page-list li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.pagination .page-item {
    padding: 5px 8px;
    border: 1px solid #dddddd;
    margin-right: 5px;
}
.pagination .page-item:not(.disabled) {
    cursor: pointer;
}
.pagination .page-item:not(.disabled):not(.active):not(.total):hover {
    background-color: #f4f4f4;
}
.pagination .page-item.total {
    border: none;
    cursor: default;
    margin: 0;
    padding-left: 0;
}
.pagination .total b {
    font-weight: normal;
}
.pagination .page-item.active {
    background-color: #40a8de;
    color: white;
    cursor: default;
}
.pagination .disabled {
    color: #dfdfdf;
    border-color: #dfdfdf;
}