.table-list-box {
    position: relative;
    background-color: white;
}
.table-list-box > .loading {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
}
.table-list-box td,
.table-list-box th {
    width: 10%;
    height: 40px;
    box-sizing: border-box;
    padding: 7px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
}
.table-list-box table {
    width: 100%;
    border-collapse: collapse;
}
.table-list-box table input,
.table-list-box table textarea {
    border-width: 1px;
}
.table-list-box thead {
    background-color: #f8f8f8;
}
.table-list-box th {
    font-weight: bold;
}
.table-list-box .table-head th {
    padding: 8px 7px;
    border-top: 1px solid #ddd;
}
.table-list-box .selectParent.noSel {
    display: none;
}
.table-list-box tbody tr:hover {
    background-color: #f4f4f4;
}
.table-list-box .active,
.table-list-box tbody tr.active:hover {
    background-color: #e6f5fc;
}
.table-list-box .table-foot {
    padding: 10px;
}
.table-list-box .table-foot .pagination {
    text-align: right;
}
.table-list-box .table-tools {
    text-align: right;
    padding: 8px;
}
.table-list-box .x-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}
tr ._seqCol,
tr ._seqCol .tbl-col-wrapper {
    width: 50px;
}
tr ._opCol,
tr ._opCol .tbl-col-wrapper {
    width: 200px;
}
tr ._opCol .x-icon {
    display: inline-block;
}
.x-icon.icon-edit {
    background-image: url(../../common/images/icon_edi3.png);
}
.x-icon.icon-delete {
    background-image: url(../../common/images/icon_grey_fork.png);
}
.x-icon.icon-add {
    background-image: url(../../common/images/button_add_black.png);
}
.x-icon.icon-up {
    background-image: url(../../common/images/arrow_black_up_group.png);
}
button:not(.disabled) .icon-up {
    background-image: url(../../common/images/arrow_white_up.png);
}
.x-icon.icon-down {
    background-image: url(../../common/images/arrow_black_down_group.png);
}
button:not(.disabled) .icon-down {
    background-image: url(../../common/images/arrow_white_down.png);
}
.form-btn{
    color: #fff;
    background: #40a8de;
    border-color: #40a8de;
}
.form-btn:not(.disabled):hover{
    color: white !important;
    background-color: #48b3ea !important;
    border: 1px solid #48b3ea!important;
}
.tbl-col {
    position: relative;
}
.tbl-col input {
    position: absolute;
    width: calc(100% - 28px);
    height: calc(100% - 14px);
    max-height: 2em;
    top: 5px;
    left: 8px;
    padding: 2px 7px;
}
.tbl-col input:hover,
.tbl-col select:hover,
.tbl-col textarea:hover,
.tbl-col input:focus,
.tbl-col select:focus,
.tbl-col textarea:focus {
    border-width: 1px;
    border-color: #40a8df;
}
